@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.header {
    padding: 12px;
    background-color: antiquewhite;
    background-image: url('/src/images/wood-plank.jpg');
    background-size: cover;
    height: 231px;
}

.title {
    text-align: justify;
    font-family: 'Fredoka One', cursive;
    text-shadow: -2px 3px black;
    width: 60px;
    font-size: 65px;
    font-weight: 800;
    color: white;
}

nav {
    background-color: rgba(0, 0, 0, .6);
}

.nav-ul {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

header li {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}

header li:hover {
    color: rgb(208, 208, 208);
}

body {
    background-color: blanchedalmond;
    margin: 0 auto;

}